<?xml version="1.0" encoding="UTF-8"?>
<!--
     Configuration for logging
     Author: Dominik Scholz
     Version: 0.1
-->
<Configuration>

    <Properties>
        <Property name="serverclient">serverclient.log</Property>
        <Property name="sniffer">sniffer.log</Property>
        <Property name="plain">plain.log</Property>
    </Properties>

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </Console>

        <File name="File1" fileName="${serverclient}">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </File>

        <File name="File2" fileName="${sniffer}">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </File>

        <File name="File3" fileName="${plain}">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="cryptography.plain" level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File3"/>
        </Logger>
        <Logger name="cryptography.secure" level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File1"/>
        </Logger>
        <Logger name="cryptography.sniffer.Sniffer" level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File2"/>
        </Logger>
    </Loggers>

</Configuration>