<?xml version="1.0" encoding="UTF-8"?>
<!--
     Configuration for logging
     Author: Dominik Scholz
     Version: 0.1
-->
<Configuration>

    <Properties>
        <Property name="filename">cryptography.log</Property>
    </Properties>

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </Console>

        <File name="File" fileName="${filename}">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p]: %m%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <!-- <AppenderRef ref="File"/> -->
        </Root>
    </Loggers>

</Configuration>